* {
  padding: 0;
  margin: 0;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to right, red, blue, black, pink, green);
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  position: absolute;
  opacity: 60%;
  cursor: pointer;
}
#btn2 {
  width: 70px;
  height: 70px;
  background-image: conic-gradient(to right, red, blue, black, pink, green);
  border-radius: 50px;
  border: 1px solid blue;
  position: absolute;
  opacity: 20%;
  cursor: pointer;
}
#btn3 {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to right, pink, blue, black, red, green);
  border-radius: 50px;
  border: 1px solid blue;
  cursor: pointer;
}
